---
# This Front Matter block tells Eleventy how to handle the page
permalink: /index.html
title: Welcome to the Library!
layout: base.njk # Use your main layout file here
---

<h1>Welcome to the Library!</h1>

<p>This is the main public home page of your new Eleventy site. The site is now live!</p>

<p>Go to the <a href="/admin/">Admin CMS</a> to start editing content.</p>